@charset "UTF-8";
/*------------------------------------------------------
全体調整
/*-----------------------------------------------------*/
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.xs {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

@media only screen and (max-width: 543px) {
  .xs {
    display: block !important;
  }
}

html {
  font-size: 62.5%;
  /*ベースを10pxにしています*/
}

body {
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN";
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

p,
a,
ul,
li,
span {
  font-size: 1.4rem;
  line-height: 1.8;
}

@media (min-width: 768px) {
  p,
  a,
  ul,
  li,
  span {
    font-size: 1.6rem;
    line-height: 2;
  }
}

h2,
h3 {
  line-height: 1.8;
}

@media (min-width: 768px) {
  h2,
  h3 {
    line-height: 2;
  }
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.sticky {
  position: relative;
  z-index: 100;
  position: fixed;
}

/*------------------------------------------------------
背景
/*-----------------------------------------------------*/
.bg-stripe {
  background: url("../images/bg_stripe_20.jpg");
  background-repeat: repeat;
}

.bg-gray {
  background: #f8f8f8;
}

.bg-stripe-orange {
  background: url("../images/bg_stripe_100.jpg") repeat;
  position: relative;
}

.bg-stripe-orange::after {
  background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
  opacity: 0.85;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*------------------------------------------------------
ヘッダー
/*-----------------------------------------------------*/
header {
  background: #fff;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  header {
    height: 80px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  header {
    align-items: center;
  }
}

h1 {
  width: 144px;
}

@media (min-width: 768px) {
  h1 {
    width: 290px;
  }
}

h1 a {
  display: block;
  cursor: pointer;
}

.nav-sp-contact-btn {
  height: 100%;
  position: absolute;
  top: 0;
  right: 60px;
  background: #f22424;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  width: 120px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-sp-contact-btn {
    width: 250px;
    right: 100px;
  }
}

@media (min-width: 1200px) {
  .nav-sp-contact-btn {
    display: none;
  }
}

.nav-sp-contact-btn .yellow-text {
  color: #f5ff00;
  font-size: 1rem;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-sp-contact-btn .yellow-text {
    font-size: 1.5rem;
  }
}

.nav-sp-contact-btn .text {
  width: 100%;
}

@media (min-width: 768px) {
  .nav-sp-contact-btn .text {
    font-size: 2rem;
  }
}

/*------------------------------------------------------
見出し
/*-----------------------------------------------------*/
.fukidashi {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .fukidashi {
    font-size: 2.8rem;
    padding: 0 60px;
    font-weight: 500;
  }
}

.fukidashi::before, .fukidashi::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: black;
}

@media (min-width: 768px) {
  .fukidashi::before, .fukidashi::after {
    width: 44px;
  }
}

.fukidashi::before {
  left: 0;
  transform: rotate(-120deg);
}

.fukidashi::after {
  right: 0;
  transform: rotate(-60deg);
}

/*------------------------------------------------------
コンバージョンエリア
/*-----------------------------------------------------*/
.cv-wrapper {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .cv-wrapper {
    min-width: 1000px;
  }
}

.cv-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.cv-inner .cv-link:hover {
  opacity: 0.85;
}

.cv-inner-top {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .cv-inner-top {
    margin-bottom: 100px;
  }
}

.cv-inner-middle {
  margin: 40px 0;
}

@media (min-width: 768px) {
  .cv-inner-middle {
    margin: 100px 0;
  }
}

/*------------------------------------------------------
コンテンツ
/*-----------------------------------------------------*/
.section-wrapper {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .section-wrapper {
    padding: 100px 40px;
  }
}

.section-inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .section-inner {
    min-width: 1000px;
  }
}

.section-inner-narrow {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

@media (min-width: 768px) {
  .section-inner-narrow {
    min-width: 1000px;
  }
}

.title-box {
  text-align: center;
}

.title-box .title {
  font-size: 2.2rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .title-box .title {
    font-size: 4rem;
  }
}

.title-box .title-sub {
  margin-top: 7px;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-indent: 1px;
}

@media (min-width: 768px) {
  .title-box .title-sub {
    margin-top: 15px;
    font-size: 1.5rem;
  }
}

.title-sub-color {
  color: #fd6201;
}

.cv-wrapper-middle {
  padding-top: 20px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .cv-wrapper-middle {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.global-nav-sp {
  background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.global-nav-sp nav {
  margin-top: 50px;
  width: 90%;
}

.global-nav-sp nav ul {
  margin-bottom: 35px;
}

@media (min-width: 1200px) {
  .global-nav-sp {
    display: none;
  }
}

.global-nav-sp a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 0;
  font-weight: 700;
  font-size: 1.8rem;
}

.global-nav-sp a:hover {
  color: #f5ff00;
}

.global-nav-sp-logo {
  width: 200px;
  text-align: center;
  margin: 0 auto 15px;
}

.nav-toggle {
  cursor: pointer;
  z-index: 1000;
  padding-top: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .nav-toggle {
    padding-top: 16px;
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle .toggle-parts-box {
  position: relative;
  width: 32px;
}

@media (min-width: 768px) {
  .nav-toggle .toggle-parts-box {
    width: 50px;
  }
}

.nav-toggle .toggle-parts-box:after {
  position: absolute;
  top: 22px;
  font-size: 9px;
  font-weight: 700;
  left: 0;
  right: 0;
  content: "MENU";
}

@media (min-width: 768px) {
  .nav-toggle .toggle-parts-box:after {
    top: 35px;
    font-size: 13px;
  }
}

.nav-toggle .toggle-parts {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #333;
  position: absolute;
  transition: transform 0.6s ease-in-out, top 0.5s ease;
}

.nav-toggle .toggle-parts:nth-child(1) {
  top: 0;
}

.nav-toggle .toggle-parts:nth-child(2) {
  top: 8px;
}

@media (min-width: 768px) {
  .nav-toggle .toggle-parts:nth-child(2) {
    top: 12px;
  }
}

.nav-toggle .toggle-parts:nth-child(3) {
  top: 16px;
}

@media (min-width: 768px) {
  .nav-toggle .toggle-parts:nth-child(3) {
    top: 24px;
  }
}

.open {
  overflow: hidden;
}

.open .nav-toggle span {
  background: #fff;
  color: #fff;
}

.open .nav-toggle span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}

.open .nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}

.open .nav-toggle span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

.open .toggle-parts-box:after {
  content: "";
}

.open .global-nav-sp {
  visibility: visible;
  opacity: 1;
}

.open ul > li {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.5s ease;
}

.global-nav-sp-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.global-nav-sp-contact div {
  width: 48%;
  background: #fff;
  text-align: center;
  position: relative;
}

.global-nav-sp-contact div::before {
  content: "";
  bottom: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #f22424;
  position: absolute;
  z-index: 100;
}

.global-nav-sp-contact div::after {
  content: "";
  display: block;
  bottom: 5px;
  transform: rotate(135deg);
  font-weight: bold;
  right: 0px;
  position: absolute;
  z-index: 101;
}

.global-nav-sp-contact div .icon {
  display: block;
  font-size: 2.5rem;
}

.global-nav-sp-contact a {
  color: #f22424;
  padding: 10px 5px;
  font-size: 1.5rem !important;
}

.global-nav-sp-contact a:hover {
  color: #f22424;
}

.global-nav-sp-contact .eigyo {
  font-size: 1.2rem;
  color: #1f1f1f;
  display: block;
  font-weight: 500;
}

.global-nav {
  display: none;
}

@media (min-width: 1200px) {
  .global-nav {
    width: 100%;
    right: 30px;
    display: block;
  }
}

.global-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.global-nav-list-logo {
  margin-right: auto;
  width: 292px;
}

.global-nav-list-item {
  padding-right: 30px;
  text-align: center;
  display: block;
}

.global-nav-list-item:last-of-type {
  padding-right: 0;
}

.global-nav-list-text-link {
  color: #1f1f1f;
  font-weight: 700;
}

.global-nav-list-contact .global-nav-list-contact-btn {
  color: #f22424;
  font-weight: 700;
  background: #f22424;
  padding: 15px 50px;
  border-radius: 25px;
  transition: 0.2s;
  color: #fff;
}

/*------------------------------------------------------
メインビジュアル
/*-----------------------------------------------------*/
.mv-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .mv-wrapper {
    background: url("../images/mv_pc_bg.jpg");
    background-size: cover;
    height: 760px;
    padding: 0 30px;
  }
}

.mv-inner {
  width: 100%;
}

@media (min-width: 768px) {
  .mv-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mv-inner .mv-sp {
  margin-top: 50px;
  display: block;
}

@media (min-width: 768px) {
  .mv-inner .mv-sp {
    display: none;
  }
}

.mv-pc {
  display: none;
}

@media (min-width: 768px) {
  .mv-pc {
    margin-top: 60px;
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .mv-pc .mv-pc-left {
    margin-right: 20px;
    max-width: 620px;
  }
  .mv-pc .mv-pc-right {
    margin-top: 50px;
  }
  .mv-pc .mv-pc-merit {
    margin-bottom: 25px;
  }
}

.mv-sp {
  background: url("../images/mv_sp_bg.jpg");
  background-size: cover;
  padding-left: 25px;
  padding-bottom: 32px;
  overflow: hidden;
}

.mv-sp .mv-sp-image {
  margin-bottom: 15px;
  min-width: 370px;
}

/*------------------------------------------------------
テキストアニメーション PC
/*-----------------------------------------------------*/
.site-copy-box-first {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .site-copy-box-first {
    margin-bottom: 15px;
  }
}

.site-copy-box p {
  padding: 5px 10px;
  background: #fff;
  opacity: 0;
  line-height: 1;
  display: inline-block;
}

@media (min-width: 768px) {
  .site-copy-box p {
    padding: 10px 18px;
  }
}

.site-copy span {
  opacity: 0;
  position: relative;
  top: 10px;
  left: 10px;
  opacity: 0;
  font-size: 2.8rem;
  color: #f22424;
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 768px) {
  .site-copy span {
    font-size: 4.5rem;
  }
}

/*------------------------------------------------------
テキストアニメーション SP
/*-----------------------------------------------------*/
/*------------------------------------------------------
リードコンテンツ
/*-----------------------------------------------------*/
.lead-wrapper {
  padding-top: 30px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .lead-wrapper {
    padding-top: 70px;
    padding-bottom: 170px;
  }
}

.lead-inner {
  position: relative;
  z-index: 1;
}

/*------------------------------------------------------
こんなお悩みはありませんか？
/*-----------------------------------------------------*/
.problem-title-box {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .problem-title-box {
    margin-bottom: 70px;
  }
}

.problem-list-pc {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.problem-list-pc .problem-list-pc-item {
  width: calc(100% / 4 - 20px);
}

.problem-list-sp {
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.problem-list-sp .problem-list-sp-item {
  position: relative;
  width: calc(100% / 2 - 10px);
  margin-bottom: 35px;
  background: #fff;
  box-shadow: 0 0 15px #e0e0e0;
  padding: 32px 10px 20px 10px;
}

.problem-list-sp .problem-list-sp-item .problem-list-sp-image {
  margin: 0 auto 10px;
  text-align: center;
}

.problem-list-sp .problem-list-sp-item .problem-list-sp-image img {
  height: 60px;
  width: auto;
}

.problem-list-sp .problem-list-sp-item .circle {
  font-size: 1.8rem;
  background-color: #fd6201;
  color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 32px;
  line-height: 32px;
  height: 32px;
  border-radius: 25px;
  font-weight: 700;
}

.problem-list-sp .problem-list-sp-item .text {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.5;
}

.problem-list-sp .problem-list-sp-item .sub-text {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  color: #f22424;
}

.problem-list-sp .problem-list-sp-item .red-line {
  border-top: 2px solid #f22424;
  width: 85%;
}

.problem-list-sp .problem-list-sp-item:nth-child(3), .problem-list-sp .problem-list-sp-item:nth-child(4) {
  margin-bottom: 0;
}

.solution-under-arrow {
  margin: 0 auto 25px;
  width: 92px;
}

@media (min-width: 768px) {
  .solution-under-arrow {
    margin: 0 auto 52px;
  }
}

@media (min-width: 768px) {
  .solution-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1116px;
  }
}

.solution-cont .solution-cont-title {
  width: 300px;
  margin: 0 auto 40px;
}

@media (min-width: 768px) {
  .solution-cont .solution-cont-title {
    width: 465px;
    margin: 0 50px 0 0;
  }
}

.solution-list .solution-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .solution-list .solution-list-item {
    max-width: 100%;
  }
}

.solution-list .solution-list-item span {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .solution-list .solution-list-item span {
    font-size: 2.2rem;
  }
}

.solution-list .solution-list-item .check-icon {
  width: 31px;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .solution-list .solution-list-item .check-icon {
    width: 38px;
  }
}

.solution-list .solution-list-item:not(:last-of-type) {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px dotted #333;
}

@media (min-width: 768px) {
  .solution-list .solution-list-item:not(:last-of-type) {
    margin-bottom: 30px;
    padding-bottom: 0;
    border: none;
  }
}

.solution-list .solution-list-item-text {
  width: calc(100% - 50px);
}

/*------------------------------------------------------
できること
/*-----------------------------------------------------*/
.cando-wrapper {
  position: relative;
}

.decoration-cando {
  background-image: url("../images/dekiru_deco_image.png");
  position: absolute;
  max-width: calc(385px / 2);
  height: calc(320px / 2);
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  top: -60px;
  right: -15px;
  width: 40vw;
}

@media (min-width: 768px) {
  .decoration-cando {
    width: 30vw;
    top: -70px;
    right: -10px;
    max-width: calc(385px / 1.5);
    height: calc(320px / 1.5);
  }
}

@media (min-width: 992px) {
  .decoration-cando {
    width: 20vw;
    top: -90px;
    right: 5%;
    max-width: 385px;
    height: 320px;
  }
}

.cando-inner {
  position: relative;
  z-index: 1;
}

.cando-title {
  margin-bottom: 25px;
  color: #fff;
}

@media (min-width: 768px) {
  .cando-title {
    margin-bottom: 30px;
  }
}

.cando-lead {
  margin-bottom: 30px;
  color: #fff;
}

@media (min-width: 768px) {
  .cando-lead {
    text-align: center;
    margin-bottom: 70px;
    font-size: 2rem;
  }
}

.cando-content {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 35px 20px;
}

@media (min-width: 768px) {
  .cando-content {
    flex-flow: row-reverse;
    align-items: center;
    padding: 50px 80px;
  }
}

.cando-content:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .cando-content:not(:last-child) {
    margin-bottom: 30px;
  }
}

.cando-content-image {
  width: 115px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .cando-content-image {
    width: 150px;
  }
}

.cando-content-image-1 {
  width: 110px;
}

@media (min-width: 768px) {
  .cando-content-image-1 {
    width: 120px;
  }
}

.cando-content-textbox {
  width: 100%;
}

@media (min-width: 768px) {
  .cando-content-textbox {
    max-width: 560px;
    margin-right: 50px;
  }
}

.cando-content-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .cando-content-title {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
}

.cando-content-title-sub {
  font-size: 1.5rem;
  color: #fd6201;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .cando-content-title-sub {
    margin-bottom: 15px;
  }
}

.cando-content-title-sub:before {
  content: "";
  background-color: #fd6201;
  width: 23px;
  height: 1px;
  margin-right: 10px;
}

/*------------------------------------------------------
４つの選ばれる理由
/*-----------------------------------------------------*/
.reason-title-box {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .reason-title-box {
    margin-bottom: 70px;
  }
}

.reason-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.reason-content:not(:last-child) {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .reason-content:not(:last-child) {
    margin-bottom: 100px;
  }
}

.reason-content-image {
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .reason-content-image {
    width: calc(40% - 60px);
  }
}

.reason-content-image-1 {
  max-width: 250px;
}

.reason-content-title {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .reason-content-title {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .reason-content-textbox {
    width: 50%;
  }
}

.reason-content-text {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .reason-content-text {
    font-size: 1.8rem;
  }
}

.reason-content-caution {
  color: #f22424;
}

@media (min-width: 768px) {
  .reason-content-caution {
    font-size: 1.4rem;
  }
}

.reverse {
  flex-direction: row-reverse;
}

/*------------------------------------------------------
他社サービスとの違い
/*-----------------------------------------------------*/
.difference-title-box {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .difference-title-box {
    margin-bottom: 70px;
  }
}

.difference-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.difference-content {
  background: #fff;
  padding: 20px 15px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .difference-content {
    width: calc(100% / 2 - 15px);
    padding: 40px 35px;
  }
}

.difference-content:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .difference-content:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) {
  .difference-content:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.difference-content-title {
  font-size: 1.6rem;
  margin-bottom: 15px;
  padding-left: 2em;
  text-indent: -2em;
}

@media (min-width: 768px) {
  .difference-content-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.difference-content-title:before {
  content: "";
  background-image: url("../images/icon_check_red@2x.png");
  width: 22px;
  height: 22px;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

/*------------------------------------------------------
安心のサポート体制
/*-----------------------------------------------------*/
.support-wrapper {
  background-image: url("../images/support_bg_sp.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .support-wrapper {
    background-image: url("../images/support_bg.jpg");
  }
}

.support-inner {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  border-radius: 10px;
  width: 94%;
}

@media (min-width: 768px) {
  .support-inner {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .support-inner {
    width: 90%;
  }
}

.support-title-box {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .support-title-box {
    margin-bottom: 30px;
  }
}

.support-lead {
  font-weight: bold;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .support-lead {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 70px;
  }
}

.support-content-container {
  max-width: 800px;
  margin: 0 auto;
}

.support-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .support-content {
    margin-bottom: 45px;
  }
}

.support-content-image {
  width: calc(40% - 15px);
}

@media (min-width: 768px) {
  .support-content-image {
    width: 160px;
    margin-right: 30px;
  }
}

.support-content-textbox {
  width: 60%;
}

@media (min-width: 768px) {
  .support-content-textbox {
    width: calc(100% - 160px);
  }
}

.support-content-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .support-content-text-caution {
    display: block;
    font-size: 1.4rem;
  }
}

.other-support-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .other-support-title {
    text-align: left;
    font-size: 1.8rem;
  }
}

.other-support-list-item {
  padding-left: 1em;
  text-indent: -1em;
}

/*------------------------------------------------------
お申し込みから導入までの流れ
/*-----------------------------------------------------*/
.flow-title-box {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .flow-title-box {
    margin-bottom: 70px;
  }
}

.flow-list {
  max-width: 800px;
  margin: 0 auto;
}

.flow-list-item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 768px) {
  .flow-list-item {
    padding-bottom: 100px;
  }
}

.flow-list-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50px;
  width: 4px;
  height: 100%;
  left: calc(50px / 2 - 2px);
  display: block;
  background-color: #fd6201;
}

@media (min-width: 768px) {
  .flow-list-item:not(:last-child):after {
    top: 74px;
    left: calc(74px / 2 - 2px);
  }
}

.flow-list-number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd6201;
  border-radius: 50%;
  color: #fff;
  font-size: 2.3rem;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .flow-list-number {
    width: 74px;
    height: 74px;
    font-size: 3.6rem;
  }
}

.flow-list-content {
  width: calc(100% - 70px);
}

@media (min-width: 768px) {
  .flow-list-content {
    width: calc(82% - 94px);
    padding-right: 55px;
  }
}

.flow-list-title {
  font-size: 2rem;
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  .flow-list-title {
    font-size: 2.5rem;
    margin-bottom: 18px;
  }
}

.flow-list-text {
  margin-bottom: 20px;
}

.flow-list-text-announce {
  display: block;
}

.flow-list-text .link {
  text-decoration: underline;
}

.flow-list-image {
  width: 35%;
  margin: 0 auto;
  max-width: 120px;
}

@media (min-width: 768px) {
  .flow-list-image {
    width: 18%;
  }
}

.flow-list-image-4 {
  max-width: 100px;
}

/*------------------------------------------------------
ご利用料金
/*-----------------------------------------------------*/
.price-wrapper {
  position: relative;
}

.decoration-price {
  background-image: url("../images/price_deco_image.png");
  position: absolute;
  max-width: calc(385px / 2);
  height: calc(320px / 2);
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  top: -60px;
  right: -15px;
  width: 40vw;
}

@media (min-width: 768px) {
  .decoration-price {
    width: 30vw;
    top: -70px;
    right: -10px;
    max-width: calc(385px / 1.5);
    height: calc(320px / 1.5);
  }
}

@media (min-width: 992px) {
  .decoration-price {
    width: 20vw;
    top: -90px;
    right: 5%;
    max-width: 385px;
    height: 320px;
  }
}

.price-inner {
  position: relative;
  z-index: 1;
}

.price-title {
  margin-bottom: 20px;
  color: #fff;
}

@media (min-width: 768px) {
  .price-title {
    margin-bottom: 30px;
  }
}

.price-title-lead {
  margin-bottom: 30px;
  color: #fff;
}

@media (min-width: 768px) {
  .price-title-lead {
    margin-bottom: 80px;
    text-align: center;
    font-size: 2rem;
  }
}

.price-title-lead-focus {
  color: #f5ff00;
  font-size: 1.4rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .price-title-lead-focus {
    font-size: 2rem;
  }
}

.price-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-content {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

@media (min-width: 768px) {
  .price-content {
    width: calc(100% / 2 - 10px);
    padding: 65px 30px;
  }
}

.price-content:not(last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .price-content:not(last-child) {
    margin-bottom: 35px;
  }
}

.price-content-campaign {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .price-content-campaign {
    padding-top: 65px;
  }
}

.price-content-wide {
  width: 100%;
}

@media (min-width: 768px) {
  .price-content-wide {
    padding: 30px;
  }
}

.price-content-inner-wide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .price-content-inner-wide {
    max-width: 800px;
    margin: 0 auto;
  }
}

.price-content-title {
  text-align: center;
  font-size: 1.6rem;
  padding: 5px;
  width: 160px;
  border-radius: 42px;
  border: 1px solid #000;
  margin: 0 auto 20px;
  letter-spacing: 1px;
  text-indent: 1px;
}

@media (min-width: 768px) {
  .price-content-title {
    font-size: 2.2rem;
    line-height: 1.5;
    padding: 5px;
    width: 210px;
    margin-bottom: 60px;
  }
}

.price-content-price {
  font-size: 2.2rem;
  color: #fd6201;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 8px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .price-content-price {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
}

.price-content-price .perone {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .price-content-price .perone {
    font-size: 2rem;
  }
}

.price-content-price-campaign:before {
  content: "今なら初月無料";
  position: absolute;
  color: #f22424;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: -120px;
  width: 100%;
}

@media (min-width: 768px) {
  .price-content-price-campaign:before {
    top: -40px;
  }
}

.price-content-text {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .price-content-text {
    font-size: 1.5rem;
    text-align: center;
  }
}

.price-content-image {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .price-content-image {
    width: calc(40% - 40px);
    margin-right: 40px;
    border-right: 1px solid #000;
    padding-right: 70px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.price-content-text-box {
  border-top: 1px solid #000;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .price-content-text-box {
    width: 60%;
    padding-top: 0;
    border-top: none;
    text-align-last: left;
  }
}

.price-content-check {
  display: block;
  color: #fd6201;
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .price-content-check {
    font-size: 2.2rem;
  }
}

.price-content-check:last-of-type {
  margin-bottom: 30px;
}

.price-content-check:before {
  content: "";
  background-image: url(../images/icon_check_red@2x.png);
  width: 36px;
  height: 36px;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

/*------------------------------------------------------
よくあるご質問
/*-----------------------------------------------------*/
.faq-title-box {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .faq-title-box {
    margin-bottom: 70px;
  }
}

.faq__body {
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  background: #fff;
}

.faq__question {
  padding: 15px 35px 15px 15px;
  border-bottom: 1px solid #b9b9b9;
  position: relative;
  cursor: pointer;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .faq__question {
    padding: 15px 30px;
    line-height: 1;
  }
}

.faq__question:after {
  content: "＋";
  font-size: 18px;
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  margin-right: 15px;
  transform: rotate(0deg);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .faq__question:after {
    font-size: 30px;
    margin-right: 30px;
  }
}

.faq__question:last-of-type {
  border-bottom: none;
}

.faq__question-text {
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-size: 1.4rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .faq__question-text {
    padding-left: 3em;
    text-indent: -2.5em;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

.faq__question-text:before {
  content: "Q.";
  vertical-align: middle;
  margin-right: 5px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .faq__question-text:before {
    font-size: 30px;
    margin-right: 10px;
  }
}

.faq__question-clicked:after {
  content: "＋";
  font-size: 18px;
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  margin-right: 15px;
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .faq__question-clicked:after {
    font-size: 30px;
    margin-right: 30px;
  }
}

.faq__answer {
  display: none;
  background-color: #f4eed9;
  padding: 15px;
  border-bottom: 1px solid #b9b9b9;
  line-height: 1.8;
  padding: 15px;
}

@media (min-width: 768px) {
  .faq__answer {
    line-height: 1;
    padding: 15px 30px;
  }
}

.faq__answer:last-of-type {
  border-bottom: none;
}

.faq__answer-text {
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .faq__answer-text {
    padding-left: 3em;
    text-indent: -2.5em;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.faq__answer-text:before {
  content: "A.";
  vertical-align: middle;
  font-size: 18px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .faq__answer-text:before {
    font-size: 30px;
    margin-right: 10px;
  }
}

/*------------------------------------------------------
お問い合わせ

/*-----------------------------------------------------*/
.contact-title-box {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .contact-title-box {
    margin-bottom: 70px;
  }
}

@media (min-width: 768px) {
  .contact-content {
    background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
    border-radius: 10px;
    padding: 60px;
  }
}

.contact-content-lead {
  font-size: 1.5rem;
  margin-bottom: 17px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .contact-content-lead {
    font-size: 2.2rem;
    margin-bottom: 22px;
    color: #fff;
    font-weight: normal;
    text-align: center;
  }
}

.contact-content-company {
  font-size: 1.2rem;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .contact-content-company {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
  }
}

.contact-content-phone {
  display: block;
  padding: 25px 30px;
  font-size: 3.1rem;
  background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-content-phone {
    background: none;
    font-size: 6.1rem;
    padding: 0;
    pointer-events: none;
    line-height: 1;
  }
}

.contact-content-phone-tap {
  font-size: 1.2rem;
  display: block;
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 30px;
  color: #000;
  text-align: center;
  width: 180px;
  margin: 0 auto 10px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .contact-content-phone-tap {
    display: none;
  }
}

.contact-content .tel-icon {
  color: #fff;
  font-size: 3rem;
  line-height: 1.8;
  font-weight: 700;
  margin-right: -10px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .contact-content .tel-icon {
    font-size: 6.1rem;
    line-height: 0;
  }
}

/*------------------------------------------------------
Footer
/*-----------------------------------------------------*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 30px 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 100px 0 25px;
  }
}

.footer-inner {
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-inner {
    max-width: 450px;
    margin: 0 auto;
  }
}

.footer-service-logo {
  max-width: 70%;
  max-width: 190px;
  margin: 0 auto 40px;
}

@media (min-width: 768px) {
  .footer-service-logo {
    max-width: 260px;
  }
}

.footer-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-company-logo {
  width: 130px;
  margin: 0 auto 10px;
}

@media (min-width: 768px) {
  .footer-company-logo {
    width: 170px;
  }
}

.footer-company-adress {
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-company-adress {
    width: auto;
    text-align-last: left;
  }
}

.footer-detail-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

@media (min-width: 768px) {
  .footer-detail-list {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .footer-detail-list-item:not(:last-of-type) {
    margin-right: 20px;
  }
}

.footer-detail-list-item a {
  color: #fff;
  font-size: 1.3rem;
}

.copyright {
  color: #6f6f6f;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */