@charset "UTF-8";
/*------------------------------------------------------
モジュール
/*-----------------------------------------------------*/
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

html {
  font-size: 62.5%;
  /*ベースを10pxにしています*/
}

body {
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN";
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
}

@media (min-width: 544px) {
  p,
  a,
  ul,
  li {
    font-size: calc(0.875rem + ((1vw - 5.44px) * 0.8929));
  }
}

@media (min-width: 768px) {
  p,
  a,
  ul,
  li {
    font-size: 16px;
  }
}

a {
  color: #000;
  text-decoration: none;
  transform: 0.2s;
}

a:hover {
  opacity: 0.8;
  transition: 0.2s;
}

img {
  width: 100%;
  height: auto;
}

.sticky {
  position: relative;
  z-index: 100;
  position: fixed;
}

/*------------------------------------------------------
背景
/*-----------------------------------------------------*/
.bg-stripe {
  background: url("../images/bg_stripe_20.jpg");
  background-repeat: repeat;
}

.bg-gray {
  background: #f8f8f8;
}

.bg-stripe-orange {
  background: url("../images/bg_stripe_100.jpg") repeat;
  position: relative;
}

.bg-stripe-orange::after {
  background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
  opacity: 0.85;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*------------------------------------------------------
見出し
/*-----------------------------------------------------*/
.fukidashi {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .fukidashi {
    font-size: 2.8rem;
    padding: 0 60px;
    font-weight: 500;
  }
}

.fukidashi::before, .fukidashi::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: black;
}

@media (min-width: 768px) {
  .fukidashi::before, .fukidashi::after {
    width: 44px;
  }
}

.fukidashi::before {
  left: 0;
  transform: rotate(-120deg);
}

.fukidashi::after {
  right: 0;
  transform: rotate(-60deg);
}

/*------------------------------------------------------
コンバージョンエリア
/*-----------------------------------------------------*/
.cv-wrapper {
  width: 90%;
  margin: 0 auto;
}

.cv-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.cv-inner-top {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .cv-inner-top {
    margin-bottom: 100px;
  }
}

.cv-inner-middle {
  margin: 40px 0;
}

@media (min-width: 768px) {
  .cv-inner-middle {
    margin: 100px 0;
  }
}

/*------------------------------------------------------
コンテンツ
/*-----------------------------------------------------*/
.section-wrapper {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .section-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.section-inner-narrow {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.gloval-nav-sp {
  background: #fff;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

@media (min-width: 1200px) {
  .gloval-nav-sp {
    display: none;
  }
}

.gloval-nav-sp a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.6s ease;
}

.gloval-nav-sp a:hover {
  color: #666;
}

.gloval-nav-sp ul li {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 0.6s ease, opacity 0.2s ease;
}

.gloval-nav-sp ul li:nth-child(2) {
  transition-delay: 0.1s;
}

.gloval-nav-sp ul li:nth-child(3) {
  transition-delay: 0.2s;
}

.gloval-nav-sp ul li:nth-child(4) {
  transition-delay: 0.3s;
}

.gloval-nav-sp ul li:nth-child(5) {
  transition-delay: 0.4s;
}

.gloval-nav-sp ul li:nth-child(6) {
  transition-delay: 0.5s;
}

.gloval-nav-sp ul li:nth-child(7) {
  transition-delay: 0.6s;
}

.gloval-nav-sp ul li:nth-child(8) {
  transition-delay: 0.7s;
}

.gloval-nav-sp ul li:nth-child(9) {
  transition-delay: 0.8s;
}

.nav-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 32px;
  padding: 15px 15px 65px 15px;
  background: #fff;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 1200px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle .toggle-parts-box {
  position: relative;
  width: 36px;
}

.nav-toggle .toggle-parts-box:after {
  position: absolute;
  top: 42px;
  font-size: 12px;
  content: "MENU";
}

.nav-toggle .toggle-parts {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #333;
  position: absolute;
  transition: transform 0.6s ease-in-out, top 0.5s ease;
}

.nav-toggle .toggle-parts:nth-child(1) {
  top: 0;
}

.nav-toggle .toggle-parts:nth-child(2) {
  top: 14px;
}

.nav-toggle .toggle-parts:nth-child(3) {
  top: 28px;
}

.nav-toggle:hover span:nth-child(1) {
  top: 4px;
}

.nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open {
  overflow: hidden;
}

.open .nav-toggle span {
  background: #000;
  color: #fff;
}

.open .nav-toggle span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}

.open .nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}

.open .nav-toggle span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

.open .gloval-nav-sp {
  visibility: visible;
  opacity: 1;
}

.open ul > li {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.5s ease;
}

.gloval-nav {
  display: none;
}

@media (min-width: 1200px) {
  .gloval-nav {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    display: block;
    padding: 15px 25px;
    background: #fff;
  }
}

.gloval-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gloval-nav-list-logo {
  margin-right: auto;
}

.gloval-nav-list-item {
  padding-right: 30px;
  text-align: center;
  display: block;
}

.gloval-nav-list-contact {
  background: #fe5300;
  padding: 15px 50px;
  border-radius: 25px;
}

.gloval-nav-list-contact a {
  color: #fff;
}

/*------------------------------------------------------
メインビジュアル
/*-----------------------------------------------------*/
.mv-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .mv-wrapper {
    background: url("../images/mv_pc_bg.jpg");
    background-size: cover;
    height: 760px;
    padding: 0 30px;
  }
}

.mv-inner {
  width: 100%;
}

@media (min-width: 768px) {
  .mv-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mv-inner .mv-pc {
  margin-top: 60px;
}

/*------------------------------------------------------
リードコンテンツ
/*-----------------------------------------------------*/
.lead-wrapper {
  padding-top: 30px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .lead-wrapper {
    padding-top: 70px;
    padding-bottom: 170px;
  }
}

.lead-inner {
  position: relative;
  z-index: 1;
}

/*------------------------------------------------------
こんなお悩みはありませんか？
/*-----------------------------------------------------*/
.problem-title-box {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .problem-title-box {
    margin-bottom: 70px;
  }
}

.problem-list-pc {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.problem-list-pc .problem-list-pc-item {
  width: calc(100% / 4 - 20px);
}

.problem-list-sp {
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.problem-list-sp .problem-list-sp-item {
  position: relative;
  width: calc(100% / 2 - 10px);
  margin-bottom: 35px;
  background: #fff;
  box-shadow: 0 0 15px #e0e0e0;
  padding: 50px 10px 20px 10px;
}

.problem-list-sp .problem-list-sp-item .circle {
  font-size: 3.1rem;
  background-color: #fd6201;
  color: #fff;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 46px;
  line-height: 46px;
  height: 46px;
  border-radius: 25px;
}

.problem-list-sp .problem-list-sp-item .text {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.problem-list-sp .problem-list-sp-item .sub-text {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  color: #f22424;
}

.problem-list-sp .problem-list-sp-item .red-line {
  border-top: 2px solid #f22424;
  width: 85%;
}
/*# sourceMappingURL=style.css.map */