/*------------------------------------------------------
できること
/*-----------------------------------------------------*/
.cando-wrapper {
  position: relative;
}

.decoration-cando {
  background-image: url("../images/dekiru_deco_image_02.png");
  position: absolute;
  max-width: calc(385px / 2);
  height: calc(320px / 2);
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  top: -60px;
  right: -15px;
  width: 40vw;

  @include pc {
    width: 30vw;

    top: -70px;
    right: -10px;
    max-width: calc(385px / 1.5);
    height: calc(320px / 1.5);
  }
  @include lg {
    width: 20vw;

    top: -90px;
    right: 5%;
    max-width: 385px;
    height: 320px;
  }
}

.cando-inner {
  position: relative;
  z-index: 1;
}

.cando-title {
  margin-bottom: 25px;
  color: #fff;
  @include pc {
    margin-bottom: 30px;
  }
}

.cando-lead {
  margin-bottom: 30px;
  color: #fff;
  @include pc {
    text-align: center;
    margin-bottom: 70px;
    font-size: 2rem;
  }
}

.cando-content {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 35px 20px;
  @include pc {
    flex-flow: row-reverse;
    align-items: center;
    padding: 50px 80px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
    @include pc {
      margin-bottom: 30px;
    }
  }
  &-image {
    width: 115px;
    margin: 0 auto;
    margin-bottom: 20px;
    @include pc {
      width: 150px;
    }
    &-1 {
      width: 110px;
      @include pc {
        width: 120px;
      }
    }
  }

  &-textbox {
    width: 100%;
    @include pc {
      max-width: 560px;
      margin-right: 50px;
    }
  }
  &-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
    @include pc {
      font-size: 2.5rem;
      margin-bottom: 25px;
    }
  }
  &-title-sub {
    font-size: 1.5rem;
    color: $orange;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @include pc {
      margin-bottom: 15px;
    }
    &:before {
      content: "";
      background-color: $orange;
      width: 23px;
      height: 1px;
      margin-right: 10px;
    }
  }
}
