/*------------------------------------------------------
よくあるご質問
/*-----------------------------------------------------*/
// .faq {
//     padding-top: 120px;
//     padding-bottom: 120px;
// }
.faq-title-box {
  margin-bottom: 30px;
  @include pc {
    margin-bottom: 70px;
  }
}

.faq__body {
  border: 1px solid #b9b9b9;
  border-radius: 10px;
}

.faq__question {
  padding: 15px 35px 15px 15px;
  border-bottom: 1px solid #b9b9b9;
  position: relative;
  cursor: pointer;
  line-height: 1.8;
  @include pc {
    padding: 15px 30px;
    line-height: 1;
  }
  &:after {
    content: "＋";
    font-size: 18px;
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
    margin-right: 15px;
    transform: rotate(0deg);
    transition: 0.5s;
    @include pc {
      font-size: 30px;
      margin-right: 30px;
    }
  }
  &:last-of-type {
    border-bottom: none;
  }

  &-text {
    padding-left: 1.5em;
    text-indent: -1.5em;
    font-size: 1.4rem;
    @include pc {
      padding-left: 3em;
      text-indent: -2.5em;
      font-size: 1.8rem;
      line-height: 1.5;
    }
    &:before {
      content: "Q.";
      vertical-align: middle;
      margin-right: 5px;
      font-size: 18px;
      @include pc {
        font-size: 30px;
        margin-right: 10px;
      }
    }
  }

  &-clicked {
    &:after {
      content: "＋";
      font-size: 18px;
      position: absolute;
      top: calc(50% - 15px);
      right: 0;
      margin-right: 15px;
      transform: rotate(45deg);

      @include pc {
        font-size: 30px;
        margin-right: 30px;
      }
    }
  }
}

.faq__answer {
  display: none;
  background-color: #f4eed9;
  padding: 15px;
  border-bottom: 1px solid #b9b9b9;
  line-height: 1.8;
  padding: 15px 35px 15px 15px;

  @include pc {
    line-height: 1;
    padding: 15px 30px;
  }
  &:last-of-type {
    border-bottom: none;
  }

  &-text {
    padding-left: 1.5em;
    text-indent: -1.5em;
    font-size: 1.4rem;
    @include pc {
      padding-left: 3em;
      text-indent: -2.5em;
      font-size: 1.8rem;
      line-height: 1.5;
    }
    &:before {
      content: "A.";
      vertical-align: middle;
      font-size: 18px;
      margin-right: 5px;
      @include pc {
        font-size: 30px;
        margin-right: 10px;
      }
    }
  }
}
