/*------------------------------------------------------
メインビジュアル
/*-----------------------------------------------------*/
.mv-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  @include pc {
    background: url("../images/mv_pc_bg.jpg");
    background-size: cover;
    height: 760px;
    padding: 0 30px;
  }
}
.mv-inner {
  width: 100%;
  @include pc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mv-sp {
    margin-top: 50px;
    display: block;
    @include pc {
      display: none;
    }
  }
}
.mv-pc {
  display: none;
  @include pc {
    margin-top: 60px;
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .mv-pc-left {
      margin-right: 20px;
      max-width: 620px;
    }
    .mv-pc-right {
      margin-top: 50px;
    }
    .mv-pc-merit {
      margin-bottom: 25px;
    }
  }
}
.mv-sp {
  background: url("../images/mv_sp_bg.jpg");
  background-size: cover;
  padding-left: 25px;
  padding-bottom: 32px;
  overflow: hidden;
  .mv-sp-image {
    margin-bottom: 15px;
    min-width: 370px;
  }
}
/*------------------------------------------------------
テキストアニメーション PC
/*-----------------------------------------------------*/
.site-copy-box-first {
  margin-bottom: 8px;
  @include pc {
    margin-bottom: 15px;
  }
}
.site-copy-box p {
  padding: 5px 10px;
  background: #fff;
  opacity: 0;
  line-height: 1;
  display: inline-block;
  @include pc {
    padding: 10px 18px;
  }
}
.site-copy span {
  opacity: 0;
  position: relative;
  top: 10px; //topとleft同時指定で斜めの動き
  left: 10px;
  opacity: 0;
  font-size: 2.8rem;
  color: $red;
  font-weight: 700;
  line-height: 1;
  @include pc {
    font-size: 4.5rem;
  }
}
/*------------------------------------------------------
テキストアニメーション SP
/*-----------------------------------------------------*/

/*------------------------------------------------------
リードコンテンツ
/*-----------------------------------------------------*/
.lead-wrapper {
  padding-top: 30px;
  padding-bottom: 80px;
  @include pc {
    padding-top: 70px;
    padding-bottom: 170px;
  }
}
.lead-inner {
  position: relative;
  z-index: 1;
}
