/*------------------------------------------------------
モジュール
/*-----------------------------------------------------*/

.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

html {
  font-size: 62.5%;
  /*ベースを10pxにしています*/
}

body {
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN";
  @include pc {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.4rem;
}

@media (min-width: 544px) {
  p,
  a,
  ul,
  li {
    font-size: calc(0.875rem + ((1vw - 5.44px) * 0.8929));
  }
}
@media (min-width: 768px) {
  p,
  a,
  ul,
  li {
    font-size: 16px;
  }
}

a {
  color: #000;
  text-decoration: none;
  transform: 0.2s;
  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
}

img {
  width: 100%;
  height: auto;
}

.sticky {
  position: relative;
  z-index: 100;
  position: fixed;
}

/*------------------------------------------------------
背景
/*-----------------------------------------------------*/

.bg-stripe {
  background: url("../images/bg_stripe_20.jpg");
  background-repeat: repeat;
}

.bg-gray {
  background: #f8f8f8;
}

.bg-stripe-orange {
  background: url("../images/bg_stripe_100.jpg") repeat;
  position: relative;
  &::after {
    background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
    opacity: 0.85;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

/*------------------------------------------------------
コンバージョンエリア
/*-----------------------------------------------------*/
.cv-wrapper {
  width: 100%;
}
.cv-inner {
  margin: 0 auto;
  max-width: 800px;
}
.cv-inner-middle {
  margin: 0 auto;
  padding: 40px 15px;
  max-width: 800px;
  @include pc {
    padding: 100px 15px;
  }
}
/*------------------------------------------------------
コンテンツ
/*-----------------------------------------------------*/

.section-wrapper {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  @include pc {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.section-inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.section-inner-narrow {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  @include pc {
    font-size: 4rem;
  }
  &-sub {
    margin-top: 7px;
    display: block;
    font-size: 1.2rem;
    @include pc {
      font-size: 1.5rem;
    }
  }
}
