@import "_parameter.scss";

// SP用ナビゲーション
.gloval-nav-sp {
  background: #fff;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  @include xl {
    display: none;
  }
  a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.6s ease;
    &:hover {
      color: #666;
    }
  }

  ul {
    li {
      opacity: 0;
      transform: translateX(200px);
      transition: transform 0.6s ease, opacity 0.2s ease;

      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
      &:nth-child(5) {
        transition-delay: 0.4s;
      }
      &:nth-child(6) {
        transition-delay: 0.5s;
      }
      &:nth-child(7) {
        transition-delay: 0.6s;
      }
      &:nth-child(8) {
        transition-delay: 0.7s;
      }
      &:nth-child(9) {
        transition-delay: 0.8s;
      }
    }
  }
}

// トグルの調整
.nav-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 32px;
  padding: 15px 15px 65px 15px;
  background: #fff;
  cursor: pointer;
  z-index: 1000;
  @include xl {
    display: none;
  }

  .toggle-parts-box {
    position: relative;
    width: 36px;
    &:after {
      position: absolute;
      top: 42px;
      font-size: 12px;
      content: "MENU";
    }
  }
  .toggle-parts {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #333;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 14px;
    }
    &:nth-child(3) {
      top: 28px;
    }
  }

  &:hover span:nth-child(1) {
    top: 4px;
  }
  &:hover span:nth-child(3) {
    top: 23px;
  }
}

// メニューオープン時
.open {
  overflow: hidden;
  .nav-toggle span {
    background: #000;
    color: #fff;
    &:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%;
    }
    &:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
    }
  }

  .gloval-nav-sp {
    visibility: visible;
    opacity: 1;
  }
  ul > li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.5s ease;
  }
}

// PC用ナビゲーション
.gloval-nav {
  display: none;
  @include xl {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    display: block;
    padding: 15px 25px;
    background: #fff;
  }
}
.gloval-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gloval-nav-list-logo {
  margin-right: auto;
}

.gloval-nav-list-item {
  padding-right: 30px;
  text-align: center;
  display: block;
}

.gloval-nav-list-contact {
  background: #fe5300;
  padding: 15px 50px;
  border-radius: 25px;
  a {
    color: #fff;
  }
}
