@import "_parameter.scss";

// SP用ナビゲーション
.global-nav-sp {
  background: transparent linear-gradient(180deg, #fd7500 0%, #fd5801 100%) 0% 0% no-repeat;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  nav {
    margin-top: 50px;
    width: 90%;
    ul {
      margin-bottom: 35px;
    }
  }
  @include xl {
    display: none;
  }
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
    font-weight: 700;
    font-size: 1.8rem;
    &:hover {
      color: $yellow;
    }
  }
}
.global-nav-sp-logo {
  width: 200px;
  text-align: center;
  margin: 0 auto 15px;
}

// トグルの調整
.nav-toggle {
  cursor: pointer;
  z-index: 1000;
  padding-top: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include pc {
    padding-top: 16px;
    padding-right: 10px;
  }
  @include xl {
    display: none;
  }

  .toggle-parts-box {
    position: relative;
    width: 32px;
    @include pc {
      width: 50px;
    }
    &:after {
      position: absolute;
      top: 22px;
      font-size: 9px;
      font-weight: 700;
      left: 0;
      right: 0;
      content: "MENU";
      @include pc {
        top: 35px;
        font-size: 13px;
      }
    }
  }
  .toggle-parts {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #333;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 8px;
      @include pc {
        top: 12px;
      }
    }
    &:nth-child(3) {
      top: 16px;
      @include pc {
        top: 24px;
      }
    }
  }
}

// メニューオープン時
.open {
  // overflow: hidden;
  .nav-toggle span {
    background: #fff;
    color: #fff;
    &:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%;
    }
    &:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
  .toggle-parts-box {
    &:after {
      content: "";
    }
  }

  .global-nav-sp {
    visibility: visible;
    opacity: 1;
  }
  ul > li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.5s ease;
  }
}
.global-nav-sp-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  div {
    width: 48%;
    background: #fff;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      bottom: 0;
      right: 0;
      border-top: 15px solid transparent;
      border-right: 15px solid $red;
      position: absolute;
      z-index: 100;
    }
    &::after {
      content: "";
      display: block;
      bottom: 5px;
      transform: rotate(135deg);
      font-weight: bold;
      right: 0px;
      position: absolute;
      z-index: 101;
    }
    .icon {
      display: block;
      font-size: 2.5rem;
    }
  }
  a {
    color: $red;
    padding: 10px 5px;
    font-size: 1.5rem !important;
    &:hover {
      color: $red;
    }
  }
  .eigyo {
    font-size: 1.2rem;
    color: #1f1f1f;
    display: block;
    font-weight: 500;
  }
}

// PC用ナビゲーション
.global-nav {
  display: none;
  @include xl {
    width: 100%;
    right: 30px;
    display: block;
  }
}
.global-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.global-nav-list-logo {
  margin-right: auto;
  width: 292px;
}

.global-nav-list-item {
  padding-right: 30px;
  text-align: center;
  display: block;
  &:last-of-type {
    padding-right: 0;
  }
}

.global-nav-list-text-link {
  color: #1f1f1f;
  font-weight: 700;
}
// PC用ナビゲーション ボタン
.global-nav-list-contact {
  .global-nav-list-contact-btn {
    color: $red;
    font-weight: 700;
    background: $red;
    padding: 15px 50px;
    border-radius: 25px;
    transition: 0.2s;
    color: #fff;
  }
}
