/*------------------------------------------------------
安心のサポート体制
/*-----------------------------------------------------*/

.support-wrapper {
  background-image: url("../images/support_bg_sp.jpg");
  background-size: cover;
  @include pc {
    background-image: url("../images/support_bg.jpg");
  }
}

.support-inner {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  border-radius: 10px;
  width: 94%;
  @include pc {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    @include pc {
      width: 90%;
    }
  }
}

.support-title-box {
  margin-bottom: 20px;
  @include pc {
    margin-bottom: 30px;
  }
}

.support-lead {
  font-weight: bold;
  margin-bottom: 30px;
  @include pc {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 70px;
  }
}

.support-content-container {
  max-width: 800px;
  margin: 0 auto;
}

.support-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @include pc {
    margin-bottom: 45px;
  }

  &-image {
    width: calc(40% - 15px);
    @include pc {
      width: 160px;
      margin-right: 30px;
    }
  }

  &-textbox {
    width: 60%;
    @include pc {
      width: calc(100% - 160px);
    }
  }

  &-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  &-text-caution {
    @include pc {
      display: block;
      font-size: 1.4rem;
    }
  }
}

.other-support {
  &-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    @include pc {
      text-align: left;
      font-size: 1.8rem;
    }
  }
  &-list-item {
    padding-left: 1em;
    text-indent: -1em;
  }
}
